@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

// Global Color
$color-main: #d1132a;
$color-white: #ffffff;
$color-black: #141313;
$color-gray: #6C6868;
$color-border: #bdbdbd;

// Font Family
$font-family: 'Inter',
sans-serif;

// Font Weight
$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;