/* Discovery */
.discovery {
  &-list {
    grid-template-columns: auto auto auto auto;
    gap: 24px;

    .item {
      width: 100%;

      .img {
        overflow: hidden;
        position: relative;
        height: 232px;
        border-radius: 8px;

        img {
          object-fit: cover;
          height: 100%;
          transition: 0.3s;
          border-radius: 8px;
        }

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          left: 0;
          top: 0;
          z-index: 2;
          width: 100%;
          background: rgb(32, 32, 32);
          background: linear-gradient(180deg, rgba(239, 230, 230, 0) 0%, rgba(9, 9, 9, 0.8) 100%);
          transition: 0.3s;
          border-radius: 8px;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }

      .text {
        position: absolute;
        left: 20px;
        bottom: 20px;
        z-index: 5;
        color: $color-white;
        transition: 0.3s;
        width: 90%;
        font-size: 20px;

        p {
          font-size: 11px;
          margin: 0;
          color: $color-white;
        }
      }

      &-0 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;

        .img {
          height: 100%;
        }
      }

      &-5 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;

        .img {
          height: 100%;
        }
      }


    }
  }
}

/* recommend*/
.recommend-estate {
  &-inner {
    row-gap: 16px;

    .col-item {
      &-inner {
        display: flex;
        width: 100%;
        margin: 0 auto;
        gap: 16px;
      }

      &-top {
        width: 35%;
        flex: none;
      }

      &-bottom {
        .fav-btn {
          right: 2%;
        }

        h5 {
          width: 88%;
          -webkit-line-clamp: 2 !important
        }
      }
    }
  }

  #scroll-to {
    margin-top: 16px;

    .main-co {
      padding: 10px 20px;
      border-radius: 4px;
      transition: .3s ease;
      cursor: pointer;

      &:hover {
        background-color: #fbf0f2;
      }
    }
  }
}