.detail-trade {
    padding: 0;
    margin: 0;
    justify-content: center;

    .detail-trade-child {
        padding-top: 32px;

        &__key {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #6C6868;
        }

        &__value {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: #141313;
        }

        .detail-trade-child-info {
            background: #FFFFFF;
            border: 0.5px solid #BDBDBD;
            border-radius: 12px;
            padding: 24px 16px;

            .title>p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                color: #141313;
            }

            .address>p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #6C6868;
                padding-top: 25px;
            }

            .postdate>p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #6C6868;
                padding-top: 25px;
                padding-bottom: 25px;
            }

            .info-wrapper {
                background: #FFFFFF;
                border: 0.5px solid #BDBDBD;
                border-radius: 12px;
                padding: 10px;
            }
        }

        .description-info {
            background: #FFFFFF;
            border: 0.5px solid #BDBDBD;
            border-radius: 12px;
            padding: 24px 16px;
            margin-top: 32px;
            margin-bottom: 32px;

            .title>p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                color: #141313;
                padding-bottom: 28px;
            }

            .title>p::after {
                content: "";
                height: 3px;
                width: 20px;
                background-color: #d1132a;
                display: block;
                border-radius: 16px;
            }
        }

        .description-panel {
            margin-bottom: 32px;

            .ant-collapse-header-text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                color: #141313
            }

            .ant-collapse-header-text::after {
                content: "";
                height: 3px;
                width: 20px;
                background-color: #d1132a;
                display: block;
                border-radius: 16px;
            }

            .panel-info {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #141313;
            }
        }

        .position-realestate-panel {
            margin-bottom: 32px;

            .ant-collapse-header-text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                color: #141313
            }

            .ant-collapse-header-text::after {
                content: "";
                height: 3px;
                width: 20px;
                background-color: #d1132a;
                display: block;
                border-radius: 16px;
            }

            .position-realestate-text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #141313;
            }
        }

        .money-panel {
            margin-bottom: 32px;

            .ant-collapse-header-text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                color: #141313
            }

            .ant-collapse-header-text::after {
                content: "";
                height: 3px;
                width: 20px;
                background-color: #d1132a;
                display: block;
                border-radius: 16px;
            }
        }
    }
}