.about-vars {
  .title-banner {
    h3 {
      text-transform: uppercase;
      color: $color-white;
      margin-bottom: 16px;
    }

    p {
      font-size: 20px;
      line-height: 28px;
      color: $color-white;
      margin-bottom: 40px;
      font-weight: 400;
    }
  }

  .col-row {
    .item {
      background: rgba(255, 255, 255, 0.3);
      box-shadow: 0px 0px 8px 1px rgba(68, 66, 66, 0.1);
      backdrop-filter: blur(4px);
      border-radius: 24px;
      padding: 32px;
      text-align: center;
      transition: .3s ease;

      &:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transform: rotate3d(2, 2, 2, 15deg);
      }

      h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        margin: 8px 0 16px 0;
        color: $color-white;
      }

      a {
        display: flex;
        background: #FFFFFF;
        box-shadow: 0px 1px 4px rgba(28, 26, 26, 0.16);
        border-radius: 86px;
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }
    }
  }
}