.action-search {
  border-bottom: 0.5px solid $color-border;
  padding: 16px 0;
  margin-bottom: 16px;

  .search-header {
    position: relative;
    gap: 16px;

    .box-post-type,
    .box-subtype,
    .box-location,
    .box-prices {
      width: 15%;
    }

    .box-search {
      width: 25%;
      flex: auto;
    }

    .box-all,
    .box-views {
      width: 10%;
    }

    .box-views {
      .list-product {
        margin-right: 8px;
      }

      .product-view {
        width: 50%;
        text-align: center;
        border-radius: 8px;
        height: 46px;
        padding: 12px;
        background-color: #F5F5F5;

        &.active {
          background-color: #fbf0f2;
          pointer-events: none;

          path {
            fill: $color-main;
          }
        }
      }
    }
  }
}